<style type="text/css">
body{
background-color:#C3CEEE;
}
</style>
<div id="nave">
  <ul id="menu">
    <li class="sub"><a href="managerviewresumes">View Video Resume</a>
    </li>
    <li class="sub"><a href="managerdecisions">Decision</a>
    </li>
  </ul>
</div>
<div id="opening1">
        <table class="table"  width="100%"  >
            <tr>
                <th><font size="+1">Options</font></th>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td><b>Display</b></td>
                            <td><b>Selection</b></td>
                            <td><b>Rank</b><br /></td>
                            </tr>
                        <tr>
                            <td>

                            </td>
                        </tr>    
                    </table>
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
        </table>
</div>