#nave {width:714px; height:510px; position:relative; background:url(red_frog.jpg) no-repeat 0px 160px;}
#nave h1 {font-size:25px; color:#000000;}
#nave #content {clear:left; position:absolute; left:230px; top:10px; width:250px; z-index:10;}

#menu {list-style-type:none; padding:0; margin:0; width:125px; position: static; top:70px; left:0; border:1px solid #fff; border-width:0 1px 1px; z-index:100;}
#menu ul {list-style-type:none; padding:0; margin:0;}
#menu li {float:left; background:#B0C4DE; position: relative; border-top:1px solid #fff;}

#menu li.sub {background:#B0C4DE;}

#menu li, #menu li a {display:block; color:#000000; font-family:arial, sans-serif; font-size:15px; line-height:24px; width:200px; text-decoration:none;  cursor:pointer; font-weight:bold; text-indent:5px;}


#menu ul,
#menu li:hover ul ul,
#menu li:hover ul li:hover ul ul {display:none;}

#menu li:hover {color:#000000; z-index:500;}

#menu li:hover ul {display:block; height:75px;}
#menu li:hover ul li:hover ul, 
#menu li:hover ul li:hover ul li:hover ul {display:block; position: absolute; left:110px; top:-1px; border:1px solid #fff; border-width:0 1px 1px; height:auto;}

#menu li:hover ul li.fly {background: #657 url(frog_arrow.gif) no-repeat top right;}
#menu li:hover ul li:hover {background:#CAE1FF;}

#menu li:hover ul li:hover ul li {background:#c60;}
#menu li:hover ul li:hover ul li.hover ul li {background:#780; z-index:500;}

#menu li:hover ul li:hover ul li.fly {background: #c60 url(frog_arrow.gif) no-repeat top right;}
#menu li:hover ul li:hover ul li:hover {z-index:500; background:#fa4;}
#menu li:hover ul li:hover ul li:hover a {color:#000;}

#menu li:hover ul li:hover ul li:hover ul li:hover {background:#aa0;}
#menu li:hover ul li:hover ul li.hover ul li:hover a {color:#fff;}

#nave img {display:block; float:right;}
#nave p {margin:0px; padding:17px 0 0 0; color:#000; font-size:12px; font-family:arial, sans-serif; text-align:justify;}
