<div id="header" class="box">
	<p id="logo"><%= image_tag "logo.png"%></p>
	<ul id="nav">
		<li class="current"><a href="index.php"><span>Home</span></a></li>
		<li><a href="#"><span>About</span></a></li>
		<li><a href="#"><span>Contact Us</span></a></li>
	 </ul>
</div>
  		